.header__lang-link {
    float: right;
    margin: 0;
    padding-left: 18px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 65px;
    font-weight: 400;
}

.header__lang-link:hover {
    text-decoration: underline;
}

.header__lang-link:active {
  text-decoration: underline;
}

@media all and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 52px;
  }
}

