.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 16px;
}

@media all and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-gap: calc(4.12vw/3);
    padding-right: 4.69vw;
    padding-left: 4.69vw;
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    padding-right: 3vw;
    padding-left: 3vw;
    grid-gap: calc(3.3vw/2);
  }
}

@media all and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: minmax(min-content, max-content);
    padding-top: 64px;
    padding-right: 5vw;
    padding-left: 5vw;
    grid-gap: 3.7vw;
  }
}