.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}

.place__text:last-of-type {
  padding-bottom: 0;
}

@media all and (max-width: 768px) {
  .place__text {
    font-size: 16px;
  }
}

@media all and (max-width: 550px) {
  .place__text {
    font-size: 16px;
    padding-bottom: 25px;
  }
}