.footer__links {
    position: absolute;
    left: 48px;
    top: 0;
    margin: 0;
    padding-bottom: 24px;
}

@media all and (max-width: 768px) {
    .footer__links {
        left: 24px;
    }

@media all and (max-width: 768px) {
    .footer__links {
        position: relative;
        left: 16px;
        padding-bottom: 0;
    }
}