.place__paragraph {
  padding-left: 8px;
  padding-bottom: 26px;
  margin: 0;
  grid-area: paragraph;
}

@media all and (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 0;
  }
}

@media all and (max-width: 550px) {
  .place__paragraph {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 32px;
  }
}