.lead__image {
    width: 100%;
    max-height: 615px;
    margin-top: 64px;
    background-image: url(../../../images/lead-polka.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lead__image::after {
  content: '';
  display: block;
  padding-top: 27%;
}
