.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}


@media all and (max-width: 740px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 15px;
    }
}