.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-left: 8px;
  padding-top: 12px;
  transition: 0.5s ease-out;
}

.place__link:hover {
  opacity: 0.8;
}

@media all and (max-width: 1024px) {
  .place__link {
    padding-top: 10px;
  }
}

@media all and (max-width: 768px) {
  .place__link {
    padding-top: 12px;
  }
}