.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: fit-content(200px) 460px;
  grid-template-areas:
  "title website"
  "image paragraph";
}
