.footer {
    position: relative;
    max-width: 1280px;
    margin-top: 92px;
}

@media all and (max-width: 768px) {
    .footer {
        margin-top: 90px;
    }
}

@media all and (max-width: 320px) {
    .footer {
        margin-top: 65px;
    }
}