.footer {
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 92px;
    padding-right: 48px;
    padding-left: 48px;
}

@media all and (max-width: 780px) {
    .footer {
        padding-top: 90px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media all and (max-width: 700px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media all and (max-width: 320px) {
    .footer {
        margin-top: 65px;
    }
}