.lead__map {
  width: 95%;
  margin: 0 auto;
  display: block;
  padding-top: 9%;
}

@media all and (max-width: 1024px) {
  .lead__map {
    width: 95%;
    padding-top: 9.1%;
  }
}

@media all and (max-width: 320px) {
  .lead__map {
    padding-top: 10.2%;
  }
}